.textColor{
    color: rgb(3, 3, 49);
}

app-header{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 4rem;
    z-index: 2;
}
main{
    /* position: absolute; */
    width: 100%;
    top: 4rem;
    margin-top: 4rem;
    z-index: 1;
    overflow: hidden;
}
app-sidenav{
    position: absolute;
    width: 0px;
    background: rgb(3, 3, 49);
    height: 90vh;
    border-top: 1px solid white;
    overflow: hidden;
    white-space: nowrap;
    transform: width 250ms linear;
    z-index: 10;
}
.display-area{
    position: absolute;
    left: 0;
    width: 100%;
    transition: left 250ms linear, width 250ms linear;

}
.display-area-shrink{
    left: 17%;
    width: 83%;
    transition: all 0.5s ease;
}
.app-side-nav-open{
    width: 230px;
    transition: all 0.5s ease;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
