.display-area{
    overflow-y: auto;
}
.content_list_column{
    height: 55vh;
    overflow-y: auto;
}
.content_list_column::-webkit-scrollbar{
    width: 3px;
    border-radius: 6vh;
    overflow: auto;
    height: 100vh;
}

.content_list_column::-webkit-scrollbar-thumb{
    background: rgb(142, 142, 143);
    border-radius: 10px;
}

.content_list_column::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px rgb(209, 201, 201);
    border-radius: 10px;
}
    
.h1_text{
    background-color: rgb(204, 29, 29);
    color: white;
    font-size: 5vh;
}
.content_item{
display: flex;
justify-content: space-evenly;
align-items: center;
cursor: pointer;
}
.content_item fa-icon{
color: navy;
}

@media only screen and (max-width: 640px){
.content_item{
    justify-content: space-between;
    padding: 0 2vh;
}
}