<app-landing-nav></app-landing-nav>
<div class="container">
  <div class="row overall_page">
    <div class="col-sm-6">
      <div class="lan_content">
      <p class="ultimate_comm">
        <span class="text-danger">The bank you will love</span> Spend, save, and control your entire financial life __ in one place
      </p>
      
      <button class="cssbuttons-io-button w-lg-50"> Get started
        <div class="icon">
          <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
        </div>
      </button>
    </div>
    </div>
    <div class="col-sm-6">
        <div class="bg">
        </div>
    </div>

</div>