<div class="container">
    <div class="card">
        <h3 class="card-header bg-danger text-light">Transactions Analysis</h3>
        <div class="row p-3">
            <div class="col-4">
                <p class="text-title text-muted">Current Balance</p>
                <h4>
                    {{userDetail !== undefined?
                        (userDetail.totalBalance| currency:'USD')
                        : 000| currency:'USD'}}
                </h4>
            </div>
            <div class="col-4">
                <p class="text-title text-muted">Credit</p>
                <h4>{{credit| currency: 'USD'}}</h4>
            </div>
            <div class="col-4">
                <p class="text-title text-muted">Debit</p>
                <h4>{{debit| currency: 'USD'}}</h4>
            </div>
        </div>
        <div class="">
            <div echarts [options]="echartOptions" [extentions]="echartsExtensions"></div>
        </div>
    </div>
</div>

