<div class="container">
    <div class="card">
        <h3 class="card-header bg-primary text-light">Transactions Analysis</h3>
        <div class="row p-3">
            <div class="col-4">
                <p class="text-title text-muted">Current Balance</p>
                <h4>{{000| currency: 'USD'}}</h4>
            </div>
            <div class="col-4">
                <p class="text-title text-muted">Income</p>
                <h4>{{000| currency: 'USD'}}</h4>
            </div>
            <div class="col-4">
                <p class="text-title text-muted">Outcome</p>
                <h4>{{000| currency: 'USD'}}</h4>
            </div>
        </div>
        <div class="mx-auto">
            <img src="assets/chart.png" class="card-img-top" alt="">
        </div>
    </div>
</div>
