
   .h1_text{
        background-color: rgb(204, 29, 29);
        color: white;
        font-size: 3vh;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   .profile_picture{
    text-align: center;

   }
   .customer_name{
    border-bottom: 2px solid navy;
   }
   .content{
    height: 60vh;
    overflow: auto;
   }

 