<div class="col-9 mx-auto">
    <div class="card shadow-sm border-0 mt-3">
        <div class="card-header text-center bg-primary fw-bold fs-4">
            User Profile Page
        </div>
        <div class="card-body">
            <p class="fw-bold my-3">First Name: <span class=" border-0 w-100 border-bottom fw-light border-success">{{userDetail.firstName}}</span></p>
            <p class="fw-bold my-3">Last Name: <span class=" border-0 w-100 border-bottom fw-light border-success">{{userDetail.lastName}}</span></p>
            <p class="fw-bold my-3">Email: <span class=" border-0 w-100 border-bottom fw-light border-success">{{userDetail.email}}</span></p>
        </div>
   
        <!-- Button trigger modal -->
        <button type="button" class="editBtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Edit Profile
        </button>
        
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="staticBackdropLabel">Edit User Profile</h5>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
        <a href="" routerLink="/" class="ms-auto p-3">Back</a>
    </div>
</div>