<app-header (sideNavToggled)="sideNavStatus = $event"></app-header>
<main>
    <app-sidenav class=" shadow" [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}">
    </app-sidenav>
    <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
        <div class="">
            <div class="shadow-sm py-2">
                <h4 class="bn_firstColor ps-2 text-danger fs-3 fw-bold">Dashboard</h4>
                <h2 class="bn_firstColor ps-2"><small class="textColor">Hello</small> {{userDetail !==undefined?
                    (userDetail.firstname + " "+ userDetail.lastname): "user"}} <small class="fs-6 text-primary">Welcome
                        back!</small></h2>
                <h5 class="ps-4"></h5>
            </div>
            <div class="scrollableForm">
                <div class="row mx-auto my-3">
                    <div class="col-lg-4 my-2">
                        <div class="h-100 py-2 shadow border-0">
                            <div class="text-center">
                                <p class="fs-6 fw-bold bn_secondColor textColor">Account Balance
                                    <span class="float-end mx-2 cursorPointer" (click)="switchEye()">
                                        <fa-icon *ngIf="!eyeSwitch" [icon]="icons.faEye" class="fs-6"></fa-icon>
                                        <fa-icon *ngIf="eyeSwitch" [icon]="icons.faEyeSlash" class="fs-6  text-danger"></fa-icon>
                                    </span>
                                </p>
                                <h1 *ngIf="eyeSwitch" class="fw-bold">{{userDetail !== undefined?
                                    (userDetail.totalBalance | currency:'USD')
                                    : 000| currency:'USD'}}</h1>

                                <h1 *ngIf="!eyeSwitch">xxxxx</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my-2">
                        <div class="h-100 py-2 shadow border-0">
                            <div class="text-center">
                                <p class="fw-bold textColor">Last Transaction</p>
                                <div class="row">
                                    <div class="col-12 border-end" >
                                        <p class="textColor">{{!emptyObj ? (lastTransaction.type| titlecase) : "No transaction"}}</p>
                                        <h4> {{ !emptyObj? (lastTransaction.amount | currency:'USD'):  000| currency: 'USD'}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 my-2">
                        <div class="h-100 py-2 shadow border-0">
                            <div class="text-center">
                                <p class="fw-bold textColor">
                                    Account Number
                                </p>
                                <h4 class="fw-bold">
                                    {{ userDetail != undefined ? userDetail.accountNumber : "0000000000"}}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
             <app-statistics></app-statistics>
            </div>
        </div>
    </div>
</main>