<nav class="navbar navbar-expand nav-header-color px-2">
    <div class="side-nav-button p-2 text-light" (click)="sideNavToggle()">MENU <i class="fa-solid fa-bars"></i></div>
    <a href="#" class="navbar-brand px-4">Header and SideNav</a>
    <div class="navbar-collapse">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Profile</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a href="" class="dropdown-item">Profile</a></li>
                    <li><a href="" class="dropdown-item">Setting</a></li>
                    <li><a href="" class="dropdown-item">Log out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>