.scrollableForm{
    margin-top: 3vh;
    height: 100vh;
    overflow-y: auto;
}
.rounded{
    background-color: rgb(3, 3, 49);
    color: white ;
}

@media screen and (max-width: 870px) and (min-width: 100px)  {
        .btn-primary{
            width: 100%;
        }
}