<div class="side-nav-content">
    <ul class="sidenav-nav" [ngClass]="{'nav-list-open': sideNavStatus}">
        <li class="nav-list-item list-unstyled sidenav-nav-item" *ngFor="let routeItem of navData">
            <a href="" class="text-decoration-none sidenav-nav-link" routerLink="{{routeItem.route}}" routerLinkActive="router-link-active">
                <i class="nav-icon {{routeItem.icon}}">{{routeItem.myIcon}}</i>
                <span class="mx-3">{{routeItem.name}}</span>
            </a>
        </li>
    </ul>
</div>