<form action="" #userForm="ngForm">

    <div class="col-5 mx-auto shadow p-3 ">
        <div class="form1 my-3">
            <label for="">Name</label>
            <div class="form-floating">
                <input type="text" name="name" minlength="5" required="true" placeholder="name" class="form-control" [(ngModel)]="name" #username="ngModel" [class.is-valid]="username.valid && username.touched" [class.is-invalid]="username.invalid && username.touched">
                <label for="">Name</label>
            </div>
            <div *ngIf="username.errors">
                <span *ngIf="username?.errors?.['required'] && username.touched" class="text-danger">Name is required</span>
                <span *ngIf="username?.errors?.['minlength']" class="text-danger">Minimum length is 5 characters</span>
            </div>
        </div>
        <div class="form1 my-3">
            <label for="">Age</label>
            <div class="form-floating">
                <input type="number" name="age" min="10" max="100" required="true" placeholder="name" class="form-control" [(ngModel)]="age" #userAge="ngModel" [class.is-valid]="userAge.valid && userAge.touched" [class.is-invalid]="userAge.invalid && userAge.touched">
                <label for="">Age</label>
            </div>
            <div *ngIf="userAge.errors">
                <span *ngIf="userAge.errors?.['required'] && userAge.touched" class="text-danger">This field is required</span>
                <span *ngIf="userAge.errors?.['min'] && userAge.touched" class="text-danger">Age should not be less than 10</span>
                <span *ngIf="userAge.errors?.['max'] && userAge.touched" class="text-danger">Age should not be greater than 100</span>
            </div>
        </div>
        <div class="form1 my-3">
            <label for="">E-mail Address</label>
            <div class="form-floating">
                <input type="email" required="true" name="email" placeholder="name" class="form-control" [(ngModel)]="email" #userEmail="ngModel" [class.is-valid]="userEmail.valid && userEmail.touched" [class.is-invalid]="userEmail.invalid && userEmail.touched" appEmailValidator>
                <label for="">Email</label>
            </div>
            <div *ngIf="userEmail.errors && userEmail.touched">
                <span *ngIf="userEmail.errors?.['isRequired'] && userEmail.touched" class="text-danger">This field is required</span>
                <span class="text-danger" *ngIf="userEmail?.errors?.['notValid']">Please enter a valid email</span>
                <span class="text-danger" *ngIf="userEmail?.errors?.['pointRequired']">The email is not available "dot" is required after @</span>
            </div>
        </div>
        <div class="form1 my-3">
            <label for="">Phone Number</label>
            <div class="form-floating">
                <input type="tel" name="phoneNo" class="form-control" required="true" placeholder="phone number" [(ngModel)]="phone_no" #userPhoneNo="ngModel" appPhoneNoValidator [class.is-valid]="userPhoneNo.valid && userPhoneNo.touched" [class.is-invalid]="userPhoneNo.invalid && userPhoneNo.touched">
                <label for="">Phone Number</label>
            </div>
            <div *ngIf="userPhoneNo.errors">
                    <span *ngIf="userPhoneNo?.errors?.['noCountryCode']" class="text-danger">country code is required</span>
                    <span *ngIf="userPhoneNo?.errors?.['notCorrect']" class="text-danger">country code is not correct</span>
            </div>
        </div>
        <div class="form1 my-3">
            <label for="">Password</label>
            <div class="form-floating">
                <input type="password" maxlength="50" required="true"  name="password" placeholder="name" class="form-control" [(ngModel)]="password" appPasswordValidator #userPassword="ngModel" [class.is-valid]="userPassword.valid && userPassword.touched" [class.is-invalid]="userPassword.invalid && userPassword.touched">
                <label for="">Password</label>
            </div>
            <div *ngIf="userPassword.errors">
                <span *ngIf="userPassword.errors?.['noPassword'] && userPassword.touched" class="text-danger">This field is required</span>
                <span *ngIf="userPassword.errors?.['weakPassword'] && userPassword.touched" class="text-danger">Password should not be less than 6</span>
                <span *ngIf="userPassword.errors?.['maxlength'] && userPassword.touched" class="text-danger">Password should not be greater than 50</span>
            </div>
        </div>
        <button class="btn btn-danger w-100 rounded-pill" type="submit" [disabled]="userForm.invalid">Submit</button>
    </div>
</form>


<!-- Directives
reactive forms -->
